# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/support_tracker?schema=public"

# NextAuth
NEXTAUTH_SECRET="generate-a-random-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
